/*
Author: Jhonatan Luna
Fecha: 08/04/2024 18:04
Descripcion: Aplicar estilos al titulo h1
*/

*{ 
    color: black;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    text-align: center;

}
.titulo { 
    padding: 50px;
}

nav ul { 
    width: 80%;
    margin: auto;
    border-radius: none;
    list-style-type: none;
    background-color: cornflowerblue;
}

nav li{
 display: inline-flex;

 }

 nav a{ 
    padding: 20px;
    width: 250;
 }

 nav ul a:hover{ 
    background-color: white;
}

.contenido {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 60px;
}

.contenido .informacion {
    width: 75%;
    margin-top: auto;
}
 
.contenido .informacion div {
    width: 90%;
    padding: 25px;
    background-color: blanchedalmond;
    border-radius: 18px;
    border-radius: 18px;
    margin-bottom: 10px;
}

.contenido .informacion img{
    width: 200px;
    border-radius: 10px;
}
